@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  background-color: #242424;
  overflow: auto;
  color: white;
}

.lucide {
  width: 14px;
  height: 14px;
  fill: transparent;
  stroke: currentColor;
}
